*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
    }

header{
    background-color: #EAC926;
    padding: 5%;}

    .header-principal{
        
        z-index: 10;
    position: fixed;
    top: 0px;
    width:100%;
}

.top-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

header div.logo{
    width: 50%;
}
.busqueda{
    width: 50%;
    display: flex;
    text-align: center;
    align-items: flex-center;
}

header form input{
    color: #666;
    padding: 2px;
    width: 80%;
}
.lupa{
    font-size: 14px;
    background-color: #ebebeb;
    border: 1px solid #000;
    width: 10%;
    display: inline;
}

.formapago{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

div.burger-menu{
    text-align: center;
}

.burger-menu i{
    background-color:blue;
    color: white;
    font-size: 20px;
    margin: 10px 0px 10px 0px;
    padding:10px;
    border:none;
    border-radius: 5px;
    height: 40px;
    height: 40px;
}

.imgbaner{
    width: 100%;
    }
    
.banner{
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.banner{
    margin-top: 163.50px;
}




main{
    background-color: #ebebeb;
    width: 90%;
    margin: 0px auto;
    
}
.ultimavisita, .ofertas{
    display: flex;
    flex-wrap:wrap;
}

.articulo{
    background-color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}
.cajaArticulo{
    width: 100%;
    border: solid 1px #3b3939 ;
    box-shadow: 2px 2px 5px black;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-wrap:wrap;
    position: relative;

}

.imagenarticulo{
    width: 100%;
}

.cajaArticulo i{
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: -15px;
        }


section p {font-size:16px}


h3{font-size:24px}


.precio{ 
    font-size:18px;
    font-weight: bold;
    width: 30%;
}
.descuento{
    color: #666;
    width: 70%;
}


section {
    padding-top: 10px;
    padding-bottom: 10px;
}
section p {font-size:16px}






footer{
    text-align: center; 
    margin: 0px 0px;
    background-color: white;
}

.iconoFooter{
    color:blue;
    font-size: 2em;
    margin:40px 0px 10px 0px;
}

.iconoFooter:hover{
    color:#EAC926;
}

.copyright{
    text-align: left;
    font-size: 10px;
}

.descripcion {
   display: none;  }

nav{
    display:none;
}

@media (min-width:361px){
    .descripcion{
        display:block;        
    }
    .articulo{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);

    }
    .navegadores{
        display: inline;
    }

    div.burger-menu{
        display:none;
    }
    .listaArticulos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .articulo{
        width: 47%;
    }
    .precio, .descuento{
        width:50%
    }
    
    .banner{
        margin-top: 204px;
    }

}

@media  (min-width: 769px) {
    .top-header{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    .busqueda {
        display:inline;
        flex-grow:1;
    }
    .logo{
        flex-wrap:wrap;
        width: 30%;
    }
    .formapago{
        flex-wrap:wrap;
        justify-content: flex-end;
        width:20%;
    }
    .navegadores{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navegador1{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .navegador2{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .navegador1 li{
        margin: 0px 10px;
        padding-top:15px;
    } 

    .navegador2 li{
        margin: 0px 10px;
        padding-top:15px;
    }

    .articulo{
        width: 22%;
    }
    .banner{
        margin-top: 189px;
    }
.descripcion{
   display: none;
}


.articulo:hover .descripcion {
    display: block;
}

.articulo:hover .cajaArticulo{
    box-shadow: 10px 10px 15px black;
}

.articulo:hover div i{
    transform: rotate(-90deg) ; 
    transition: 2s;
}

footer .section-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 15px;
}
footer section{
    width: 33.33%;
}
.copyright{
    display: block;

}
}

/* register.html*/

.main-register{
    display: flex;

}
.register{
    display: flex;
    background-color: #ebebeb;
    line-height: 24px;
    font-size: 12px;
    padding: 20px;
    
}

.boton{
    width: 86px;
    height: 15px;
    background-color: white;
    font-weight: bold;
    color: black;
    align-items: center;
    border: none;
    text-align: center;
}

.boton:hover {
    background-color: blue;
    color:white
}

/************** login.html***********************/

.login{
    font-size: 16px;
    line-height: 24px;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.boton-enviar, .boton-enviar2{
    background-color: white;
    font-weight: bold;
    color: rgb(7, 0, 0);
    align-items: center;
    border: none;
    text-align: center;
}

.boton-enviar2:hover {
    background-color:#0022AA;
    color: white;
}


@media (min-width:361px){
    .login{
        width:290px;
        justify-content: center;
        align-items: center;
    }   
    .main-login{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .boton-enviar, .boton-enviar2{
        width: 186px;
    }
 }